.Button {
  padding: var($__buds--button-padding-y, $buds--button-padding-y) var($__buds--button-padding-x, $buds--button-padding-x);
  font-size: var($__buds--button-font-size, $buds--button-font-size);
  border-radius: var($__buds--button-border-radius, $buds--button-border-radius);

  &:hover {
    cursor: pointer;
  }

  &--large {
    padding: var($__buds--button-padding-y-lg, $buds--button-padding-y-lg)
      var($__buds--button-padding-x-lg, $buds--button-padding-x-lg);
    font-size: var($__buds--button-font-size-lg, $buds--button-font-size-lg);
    border-radius: var($__buds--button-border-radius-lg, $buds--button-border-radius-lg);
  }

  &--small {
    padding: var($__buds--button-padding-y-sm, $buds--button-padding-y-sm)
      var($__buds--button-padding-x-sm, $buds--button-padding-x-sm);
    font-size: var($__buds--button-font-size-sm, $buds--button-font-size-sm);
    border-radius: var($__buds--button-border-radius-sm, $buds--button-border-radius-sm);
  }

  &--link {
    color: var($__buds--primary, $buds--primary);

    &:hover {
      color: var($__buds--primary-hover, $buds--primary-hover);
    }

    &:focus,
    &:active,
    &.is-active {
      color: var($__buds--primary-active, $buds--primary-active);
    }
  }

  &:not(&--link) {
    min-width: var($__buds--button-min-width, $buds--button-min-width);
    max-width: var($__buds--button-max-width, $buds--button-max-width);
    color: var($__buds--button-color, $buds--button-color);
    border-color: var($__buds--button-border-color, $buds--button-border-color);
    background: {
      color: var($__buds--button-bg, $buds--button-bg);
      image: var($__buds--button-bg-image, $buds--button-bg-image);
    }
    @include ellipsis(true);

    &:hover {
      color: var($__buds--button-hover-color, $buds--button-hover-color);
      border-color: var($__buds--button-hover-border-color, $buds--button-hover-border-color);
      background-color: var($__buds--button-hover-bg, $buds--button-hover-bg);
    }

    &:focus,
    &:active {
      color: var($__buds--button-focus-color, $buds--button-focus-color);
      border-color: var($__buds--button-focus-border-color, $buds--button-focus-border-color);
      background: {
        color: var($__buds--button-focus-bg, $buds--button-focus-bg);
        image: var($__buds--button-focus-bg-image, $buds--button-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__buds--button-disabled-color, $buds--button-disabled-color);
        border-color: var($__buds--button-disabled-border-color, $buds--button-disabled-border-color);
        background: {
          color: var($__buds--button-disabled-bg, $buds--button-disabled-bg);
          image: var($__buds--button-disabled-bg-image, $buds--button-disabled-bg-image);
        }
        opacity: var($__buds--button-disabled-opacity, $buds--button-disabled-opacity);
      }
    }
  }

  &.is-primary:not(&--link) {
    color: var($__buds--button-primary-color, $buds--button-primary-color);
    border-color: var($__buds--button-primary-border-color, $buds--button-primary-border-color);
    background: {
      color: var($__buds--button-primary-bg, $buds--button-primary-bg);
      image: var($__buds--button-primary-bg-image, $buds--button-primary-bg-image);
    }
    box-shadow: var($__buds--button-primary-box-shadow, $buds--button-primary-box-shadow);

    &:hover {
      color: var($__buds--button-primary-hover-color, $buds--button-primary-hover-color);
      border-color: var($__buds--button-primary-hover-border-color, $buds--button-primary-hover-border-color);
      background: {
        color: var($__buds--button-primary-hover-bg, $buds--button-primary-hover-bg);
        image: var($__buds--button-primary-hover-bg-image, $buds--button-primary-hover-bg-image);
      }
    }

    &:focus,
    &:active,
    &.is-active {
      color: var($__buds--button-primary-focus-color, $buds--button-primary-focus-color);
      border-color: var($__buds--button-primary-focus-border-color, $buds--button-primary-focus-border-color);
      background: {
        color: var($__buds--button-primary-focus-bg, $buds--button-primary-focus-bg);
        image: var($__buds--button-primary-focus-bg-image, $buds--button-primary-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__buds--button-primary-disabled-color, $buds--button-primary-disabled-color);
        border-color: var($__buds--button-primary-disabled-border-color, $buds--button-primary-disabled-border-color);
        background: {
          color: var($__buds--button-primary-disabled-bg, $buds--button-primary-disabled-bg);
          image: var($__buds--button-primary-disabled-bg-image, $buds--button-primary-disabled-bg-image);
        }
        opacity: var($__buds--button-primary-disabled-opacity, $buds--button-primary-disabled-opacity);
      }
    }
  }

  &.is-danger:not(&--link) {
    color: var($__buds--button-danger-color, $buds--button-danger-color);
    border-color: var($__buds--button-danger-border-color, $buds--button-danger-border-color);
    background: {
      color: var($__buds--button-danger-bg, $buds--button-danger-bg);
      image: var($__buds--button-danger-bg-image, $buds--button-danger-bg-image);
    }

    &:hover {
      color: var($__buds--button-danger-hover-color, $buds--button-danger-hover-color);
      border-color: var($__buds--button-danger-hover-border-color, $buds--button-danger-hover-border-color);
      background: {
        color: var($__buds--button-danger-hover-bg, $buds--button-danger-hover-bg);
        image: var($__buds--button-danger-hover-bg-image, $buds--button-danger-hover-bg-image);
      }
    }

    &:focus,
    &:active,
    &.is-active {
      color: var($__buds--button-danger-focus-color, $buds--button-danger-focus-color);
      border-color: var($__buds--button-danger-focus-border-color, $buds--button-danger-focus-border-color);
      background: {
        color: var($__buds--button-danger-focus-bg, $buds--button-danger-focus-bg);
        image: var($__buds--button-danger-focus-bg-image, $buds--button-danger-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__buds--button-danger-disabled-color, $buds--button-danger-disabled-color);
        border-color: var($__buds--button-danger-disabled-border-color, $buds--button-danger-disabled-border-color);
        background: {
          color: var($__buds--button-danger-disabled-bg, $buds--button-danger-disabled-bg);
          image: var($__buds--button-danger-disabled-bg-image, $buds--button-danger-disabled-bg-image);
        }
        opacity: var($__buds--button-danger-disabled-opacity, $buds--button-danger-disabled-opacity);
      }
    }
  }

  &.is-block {
    width: 100% !important;
    max-width: none !important;
  }
}
