$buds--text-primary: var($__buds--text-primary, #303133) !default;
$buds--text-secondary: var($__buds--text-secondary, #696c71) !default;
$buds--text-regular: var($__buds--text-regular, #333) !default;
$buds--text-heading: var($__buds--text-heading, #2c405a) !default;
$buds--text-placeholder: var($__buds--text-placeholder, #c0c4cc) !default;
