$buds--primary: var($__buds--primary, #3882f5) !default;
$buds--primary-hover: var($__buds--primary-hover, $buds--primary) !default;
$buds--primary-active: var($__buds--primary-active, $buds--primary) !default;

$buds--info: var($__buds--info, #909399) !default;
$buds--info-hover: var($__buds--info-hover, $buds--info) !default;
$buds--info-active: var($__buds--info-active, $buds--info) !default;

$buds--success: var($__buds--success, #67c23a) !default;
$buds--success-hover: var($__buds--success-hover, $buds--success) !default;
$buds--success-active: var($__buds--success-active, $buds--success) !default;

$buds--warning: var($__buds--warning, #e6a23c) !default;
$buds--warning-hover: var($__buds--warning-hover, $buds--warning) !default;
$buds--warning-active: var($__buds--warning-active, $buds--warning) !default;

$buds--danger: var($__buds--danger, #f56c6c) !default;
$buds--danger-hover: var($__buds--danger-hover, $buds--danger) !default;
$buds--danger-active: var($__buds--danger-active, $buds--danger) !default;
