#{$buds--page-wrapper-selector} {
  overflow: hidden;
  @include base-layout;

  html.is-legacy &,
  &.is-legacy {
    padding-top: $buds--page-header-height + $buds--page-header-border-width + rem(24px) !important;
  }
}

#{$buds--page-body-selector},
#{$buds--page-sidebar-selector},
#{$buds--page-content-selector} {
  height: 100%;
}

#{$buds--page-sidebar-selector},
#{$buds--page-content-selector} {
  overflow: auto;
}
