#{$buds--page-main-selector},
#{$buds--page-sidebar-selector} {
  min-height: 100%;
}

#{$buds--page-main-selector} {
  margin-left: $buds--page-sidebar-width;
  @include base-layout;
}

#{$buds--page-sidebar-selector} {
  position: relative;
  z-index: 100;
}
