.Sidebar-brand {
  height: $buds--page-header-height;
  padding-left: $buds--page-sidebar-item-padding;
  background-color: $buds--sidebar-brand-bg-color;

  a {
    height: 100%;
    @include brand-link(false);
  }
}
