$__buds--form-control-height: --buds-form-control-height !default;
$__buds--form-control-height-lg: --buds-form-control-height-lg !default;
$__buds--form-control-height-sm: --buds-form-control-height-sm !default;

$__buds--form-control-font-size: --buds-form-control-font-size;
$__buds--form-control-font-size-lg: --buds-form-control-font-size-lg;
$__buds--form-control-font-size-sm: --buds-form-control-font-size-sm;
$__buds--form-control-color: --buds-form-control-color;
$__buds--form-control-bg: --buds-form-control-bg;
$__buds--form-control-box-shadow: --buds-form-control-box-shadow;

$__buds--form-control-placeholder-color: --buds-form-control-placeholder-color;

$__buds--form-control-border-width: --buds-form-control-border-width;
$__buds--form-control-border-color: --buds-form-control-border-color;
$__buds--form-control-border-radius: --buds-form-control-border-radius;
$__buds--form-control-border-radius-lg: --buds-form-control-border-radius-lg;
$__buds--form-control-border-radius-sm: --buds-form-control-border-radius-sm;

$__buds--form-control-disabled-border-color: --buds-form-control-disabled-border-color;
$__buds--form-control-disabled-bg: --buds-form-control-disabled-bg;

$__buds--form-control-hover-border-color: --buds-form-control-hover-border-color;

$__buds--form-control-focus-border-color: --buds-form-control-focus-border-color;
$__buds--form-control-focus-bg: --buds-form-control-focus-bg;
$__buds--form-control-focus-box-shadow: --buds-form-control-focus-box-shadow;
