$__buds--popup-font-size: --buds-popup-font-size;
$__buds--popup-color: --buds-popup-color;
$__buds--popup-border-width: --buds-popup-border-width;
$__buds--popup-border-color: --buds-popup-border-color;
$__buds--popup-border-radius: --buds-popup-border-radius;
$__buds--popup-box-shadow: --buds-popup-box-shadow;
$__buds--popup-padding-y: --buds-popup-padding-y;

$__buds--popup-item-height: --buds-popup-item-height;
$__buds--popup-item-padding-y: --buds-popup-item-padding-y;
$__buds--popup-item-padding-x: --buds-popup-item-padding-x;
$__buds--popup-item-color: --buds-popup-item-color;
$__buds--popup-item-bg: --buds-popup-item-bg;
$__buds--popup-item-hover-color: --buds-popup-item-hover-color;
$__buds--popup-item-hover-bg: --buds-popup-item-hover-bg;

$__buds--popup-backdrop-bg: --buds-popup-backdrop-bg;
$__buds--popup-backdrop-opacity: --buds-popup-backdrop-opacity;
