$__buds--text-primary: --buds-text-primary;
$__buds--text-secondary: --buds-text-secondary;
$__buds--text-regular: --buds-text-regular;
$__buds--text-heading: --buds-text-heading;
$__buds--text-placeholder: --buds-text-placeholder;
