$__buds--font-family: --buds-font-family;

$__buds--font-size: --buds-font-size;
$__buds--font-size-lg: --buds-font-size-lg;
$__buds--font-size-sm: --buds-font-size-sm;

$__buds--font-weight: --buds-font-weight;

$__buds--line-height: --buds-line-height;
$__buds--line-height-lg: --buds-line-height-lg;
$__buds--line-height-sm: --buds-line-height-sm;
