$__buds--primary: --buds-primary;
$__buds--primary-hover: --buds-primary-hover;
$__buds--primary-active: --buds-primary-active;

$__buds--secondary: --buds-secondary;
$__buds--secondary-hover: --buds-secondary-hover;
$__buds--secondary-active: --buds-secondary-active;

$__buds--info: --buds-info;
$__buds--info-hover: --buds-info-hover;
$__buds--info-active: --buds-info-active;

$__buds--success: --buds-success;
$__buds--success-hover: --buds-success-hover;
$__buds--success-active: --buds-success-active;

$__buds--warning: --buds-warning;
$__buds--warning-hover: --buds-warning-hover;
$__buds--warning-active: --buds-warning-active;

$__buds--danger: --buds-danger;
$__buds--danger-hover: --buds-danger-hover;
$__buds--danger-active: --buds-danger-active;
