.Panel {
  padding: var($__buds--panel-padding-y, $buds--panel-padding-y) var($__buds--panel-padding-x, $buds--panel-padding-x);
  border: var($__buds--panel-border-width, $buds--panel-border-width) solid
    var($__buds--panel-border-color, $buds--panel-border-color);
  border-radius: var($__buds--panel-border-radius, $buds--panel-border-radius);
  box-shadow: var($__buds--panel-box-shadow, $buds--panel-box-shadow);
  background-color: var($__buds--panel-bg, $buds--panel-bg);

  &-header {
    height: var($__buds--panel-header-height, $buds--panel-header-height);
    border-bottom: var($__buds--panel-header-border-width, $buds--panel-header-border-width) solid
      var($__buds--panel-header-border-color, $buds--panel-header-border-color);
    font: {
      size: var($__buds--panel-header-font-size, $buds--panel-header-font-size);
      weight: var($__buds--panel-header-font-weight, $buds--panel-header-font-weight);
    }
    letter-spacing: var($__buds--panel-header-letter-spacing, $buds--panel-header-letter-spacing);
    color: var($__buds--panel-header-color, $buds--panel-header-color);
  }

  &-body {
    padding: var($__buds--panel-body-padding-y, $buds--panel-body-padding-y)
      var($__buds--panel-body-padding-x, $buds--panel-body-padding-x);
  }
}
