$__buds--border-width: ---buds-border-width;
$__buds--border-color: ---buds-border-color;

$__buds--border-radius: ---buds-border-radius;
$__buds--border-radius-lg: ---buds-border-radius-lg;
$__buds--border-radius-sm: ---buds-border-radius-sm;
