html,
body,
#{$buds--page-wrapper-selector},
#{$buds--page-main-selector},
#{$buds--page-sidebar-selector},
#{$buds--page-header-selector} {
  @include box-sizing(border-box);
}

html,
body,
#{$buds--page-wrapper-selector} {
  height: 100%;
}

body {
  margin: 0;
}

#{$buds--page-wrapper-selector} {
  background-color: $buds--page-body-bg-color;

  @if $buds--page-optimize-legibility == true {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

#{$buds--page-sidebar-selector},
#{$buds--page-header-selector} {
  font-family: $buds--font-family-sans-serif;

  ul,
  ol {
    list-style: none inside none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}
