$buds--page-optimize-legibility: $buds--optimize-legibility !default;

$buds--page-prefix: "Page" !default;
$buds--page-wrapper-selector: ".#{$buds--page-prefix}" !default;
$buds--page-main-selector: ".#{$buds--page-prefix}-main" !default;
$buds--page-sidebar-selector: ".#{$buds--page-prefix}-sidebar" !default;
$buds--page-header-selector: ".#{$buds--page-prefix}-header" !default;
$buds--page-body-selector: ".#{$buds--page-prefix}-body" !default;
$buds--page-content-selector: ".#{$buds--page-prefix}-content" !default;
$buds--page-footer-selector: ".#{$buds--page-prefix}-footer" !default;

$buds--page-sidebar-width: rem(220px) !default;
$buds--page-sidebar-vertical-padding: 0 !default;
$buds--page-sidebar-top-padding: $buds--page-sidebar-vertical-padding !default;
$buds--page-sidebar-bottom-padding: $buds--page-sidebar-vertical-padding !default;
$buds--page-sidebar-bg-color: transparent !default;
$buds--page-sidebar-font-size: $buds--font-size !default;
$buds--page-sidebar-font-weight: $buds--font-weight !default;
$buds--page-sidebar-line-height: $buds--line-height !default;
$buds--page-sidebar-text-color: $buds--text-regular !default;
$buds--page-sidebar-text-hover: $buds--page-sidebar-text-color !default;
$buds--page-sidebar-item-height: rem(48px) !default;
$buds--page-sidebar-item-padding: rem(25px) !default;
$buds--page-sidebar-item-hover: transparent !default;
$buds--page-sidebar-item-active: $buds--page-sidebar-item-hover !default;
$buds--page-sidebar-sub-bg-color: transparent !default;
$buds--page-sidebar-box-shadow: none !default;

$buds--page-header-height: rem(60px) !default;
$buds--page-header-horizontal-padding: 0 !default;
$buds--page-header-right-padding: $buds--page-header-horizontal-padding !default;
$buds--page-header-left-padding: $buds--page-header-horizontal-padding !default;
$buds--page-header-border-width: 0 !default;
$buds--page-header-border-color: transparent !default;
$buds--page-header-bg-color: transparent !default;
$buds--page-header-font-size: $buds--font-size !default;
$buds--page-header-font-weight: $buds--font-weight !default;
$buds--page-header-line-height: $buds--line-height !default;
$buds--page-header-box-shadow: none !default;

$buds--page-body-bg-color: $__buds--white !default;

$buds--page-content-top-padding: rem(30px) !default;
$buds--page-content-bottom-padding: rem(30px) !default;
$buds--page-content-heading-font-size: rem(24px) !default;

$buds--page-footer-height: auto !default;

$buds--page-brand-image-height: rem(24px) !default;
$buds--page-brand-font-size: rem(22px) !default;
$buds--page-brand-font-weight: inherit !default;
$buds--page-brand-text-color: $buds--text-regular !default;
$buds--page-brand-bg-color: transparent !default;
$buds--page-brand-separator-color: transparent !default;
$buds--page-brand-separator-gap: 0 !default;
$buds--page-brand-separator-offset: rem(10px) !default;

$buds--page-navbar-avatar-size: rem(30px) !default;

$buds--page-action-trigger-color: $buds--page-brand-text-color !default;

$buds--sidebar-brand-image-height: $buds--page-brand-image-height !default;
$buds--sidebar-brand-font-size: $buds--page-brand-font-size !default;
$buds--sidebar-brand-font-weight: $buds--page-brand-font-weight !default;
$buds--sidebar-brand-text-color: $buds--page-brand-text-color !default;
$buds--sidebar-brand-bg-color: $buds--page-brand-bg-color !default;
$buds--sidebar-brand-separator-color: $buds--page-brand-separator-color !default;
$buds--sidebar-brand-separator-gap: $buds--page-brand-separator-gap !default;
$buds--sidebar-brand-separator-offset: $buds--page-brand-separator-offset !default;

$buds--header-brand-image-height: $buds--page-brand-image-height !default;
$buds--header-brand-font-size: $buds--page-brand-font-size !default;
$buds--header-brand-font-weight: $buds--page-brand-font-weight !default;
$buds--header-brand-text-color: $buds--page-brand-text-color !default;
$buds--header-brand-bg-color: $buds--page-brand-bg-color !default;
$buds--header-brand-separator-color: $buds--page-brand-separator-color !default;
$buds--header-brand-separator-gap: $buds--page-brand-separator-gap !default;
$buds--header-brand-separator-offset: $buds--page-brand-separator-offset !default;
