$__buds--default-border-color: --buds-default-border-color;
$__buds--default-color: --buds-default-color;
$__buds--default-bg: --buds-default-bg;
$__buds--default-bg-image: --buds-default-bg-image;

$__buds--default-hover-border-color: --buds-default-hover-border-color;
$__buds--default-hover-color: --buds-default-hover-color;
$__buds--default-hover-bg: --buds-default-hover-bg;
$__buds--default-hover-bg-image: --buds-default-hover-bg-image;

$__buds--default-active-border-color: --buds-default-active-border-color;
$__buds--default-active-color: --buds-default-active-color;
$__buds--default-active-bg: --buds-default-active-bg;
$__buds--default-active-bg-image: --buds-default-active-bg-image;

$__buds--default-disabled-border-color: --buds-default-disabled-border-color;
$__buds--default-disabled-color: --buds-default-disabled-color;
$__buds--default-disabled-bg: --buds-default-disabled-bg;
$__buds--default-disabled-bg-image: --buds-default-disabled-bg-image;
$__buds--default-disabled-opacity: --buds-default-disabled-opacity;

$__buds--primary-border-color: --buds-primary-border-color;
$__buds--primary-color: --buds-primary-color;
$__buds--primary-bg: --buds-primary-bg;
$__buds--primary-bg-image: --buds-primary-bg-image;

$__buds--primary-hover-border-color: --buds-primary-hover-border-color;
$__buds--primary-hover-color: --buds-primary-hover-color;
$__buds--primary-hover-bg: --buds-primary-hover-bg;
$__buds--primary-hover-bg-image: --buds-primary-hover-bg-image;

$__buds--primary-active-border-color: --buds-primary-active-border-color;
$__buds--primary-active-color: --buds-primary-active-color;
$__buds--primary-active-bg: --buds-primary-active-bg;
$__buds--primary-active-bg-image: --buds-primary-active-bg-image;

$__buds--primary-disabled-border-color: --buds-primary-disabled-border-color;
$__buds--primary-disabled-color: --buds-primary-disabled-color;
$__buds--primary-disabled-bg: --buds-primary-disabled-bg;
$__buds--primary-disabled-bg-image: --buds-primary-disabled-bg-image;
$__buds--primary-disabled-opacity: --buds-primary-disabled-opacity;

$__buds--info-border-color: --buds-info-border-color;
$__buds--info-color: --buds-info-color;
$__buds--info-bg: --buds-info-bg;
$__buds--info-bg-image: --buds-info-bg-image;

$__buds--info-hover-border-color: --buds-info-hover-border-color;
$__buds--info-hover-color: --buds-info-hover-color;
$__buds--info-hover-bg: --buds-info-hover-bg;
$__buds--info-hover-bg-image: --buds-info-hover-bg-image;

$__buds--info-active-border-color: --buds-info-active-border-color;
$__buds--info-active-color: --buds-info-active-color;
$__buds--info-active-bg: --buds-info-active-bg;
$__buds--info-active-bg-image: --buds-info-active-bg-image;

$__buds--info-disabled-border-color: --buds-info-disabled-border-color;
$__buds--info-disabled-color: --buds-info-disabled-color;
$__buds--info-disabled-bg: --buds-info-disabled-bg;
$__buds--info-disabled-bg-image: --buds-info-disabled-bg-image;
$__buds--info-disabled-opacity: --buds-info-disabled-opacity;

$__buds--success-border-color: --buds-success-border-color;
$__buds--success-color: --buds-success-color;
$__buds--success-bg: --buds-success-bg;
$__buds--success-bg-image: --buds-success-bg-image;

$__buds--success-hover-border-color: --buds-success-hover-border-color;
$__buds--success-hover-color: --buds-success-hover-color;
$__buds--success-hover-bg: --buds-success-hover-bg;
$__buds--success-hover-bg-image: --buds-success-hover-bg-image;

$__buds--success-active-border-color: --buds-success-active-border-color;
$__buds--success-active-color: --buds-success-active-color;
$__buds--success-active-bg: --buds-success-active-bg;
$__buds--success-active-bg-image: --buds-success-active-bg-image;

$__buds--success-disabled-border-color: --buds-success-disabled-border-color;
$__buds--success-disabled-color: --buds-success-disabled-color;
$__buds--success-disabled-bg: --buds-success-disabled-bg;
$__buds--success-disabled-bg-image: --buds-success-disabled-bg-image;
$__buds--success-disabled-opacity: --buds-success-disabled-opacity;

$__buds--warning-border-color: --buds-warning-border-color;
$__buds--warning-color: --buds-warning-color;
$__buds--warning-bg: --buds-warning-bg;
$__buds--warning-bg-image: --buds-warning-bg-image;

$__buds--warning-hover-border-color: --buds-warning-hover-border-color;
$__buds--warning-hover-color: --buds-warning-hover-color;
$__buds--warning-hover-bg: --buds-warning-hover-bg;
$__buds--warning-hover-bg-image: --buds-warning-hover-bg-image;

$__buds--warning-active-border-color: --buds-warning-active-border-color;
$__buds--warning-active-color: --buds-warning-active-color;
$__buds--warning-active-bg: --buds-warning-active-bg;
$__buds--warning-active-bg-image: --buds-warning-active-bg-image;

$__buds--warning-disabled-border-color: --buds-warning-disabled-border-color;
$__buds--warning-disabled-color: --buds-warning-disabled-color;
$__buds--warning-disabled-bg: --buds-warning-disabled-bg;
$__buds--warning-disabled-bg-image: --buds-warning-disabled-bg-image;
$__buds--warning-disabled-opacity: --buds-warning-disabled-opacity;

$__buds--danger-border-color: --buds-danger-border-color;
$__buds--danger-color: --buds-danger-color;
$__buds--danger-bg: --buds-danger-bg;
$__buds--danger-bg-image: --buds-danger-bg-image;

$__buds--danger-hover-border-color: --buds-danger-hover-border-color;
$__buds--danger-hover-color: --buds-danger-hover-color;
$__buds--danger-hover-bg: --buds-danger-hover-bg;
$__buds--danger-hover-bg-image: --buds-danger-hover-bg-image;

$__buds--danger-active-border-color: --buds-danger-active-border-color;
$__buds--danger-active-color: --buds-danger-active-color;
$__buds--danger-active-bg: --buds-danger-active-bg;
$__buds--danger-active-bg-image: --buds-danger-active-bg-image;

$__buds--danger-disabled-border-color: --buds-danger-disabled-border-color;
$__buds--danger-disabled-color: --buds-danger-disabled-color;
$__buds--danger-disabled-bg: --buds-danger-disabled-bg;
$__buds--danger-disabled-bg-image: --buds-danger-disabled-bg-image;
$__buds--danger-disabled-opacity: --buds-danger-disabled-opacity;
