@import "../../../helper/style/variables";
@import "../../border/style/variables";
@import "../../state/style/variables";
@import "./properties";

$buds--default-border-color: var($__buds--border-color, $buds--border-color) !default;
$buds--default-color: var($__buds--text-regular, $buds--text-regular) !default;
$buds--default-bg: $__buds--white !default;
$buds--default-bg-image: none !default;

$buds--default-hover-border-color: var($__buds--primary-hover, $buds--primary-hover) !default;
$buds--default-hover-color: var($__buds--primary-hover, $buds--primary-hover) !default;
$buds--default-hover-bg: var($__buds--default-bg, $buds--default-bg) !default;
$buds--default-hover-bg-image: var($__buds--default-bg-image, $buds--default-bg-image) !default;

$buds--default-active-border-color: var($__buds--primary-active, $buds--primary-active) !default;
$buds--default-active-color: var($__buds--primary-active, $buds--primary-active) !default;
$buds--default-active-bg: var($__buds--default-bg, $buds--default-bg) !default;
$buds--default-active-bg-image: var($__buds--default-bg-image, $buds--default-bg-image) !default;

$buds--default-disabled-border-color: var($__buds--default-border-color, $buds--default-border-color) !default;
$buds--default-disabled-color: var($__buds--default-color, $buds--default-color) !default;
$buds--default-disabled-bg: var($__buds--default-bg, $buds--default-bg) !default;
$buds--default-disabled-bg-image: var($__buds--default-bg-image, $buds--default-bg-image) !default;
$buds--default-disabled-opacity: var($__buds--disabled-opacity, $buds--disabled-opacity) !default;

$buds--primary-border-color: var($__buds--primary, $buds--primary) !default;
$buds--primary-color: $__buds--white !default;
$buds--primary-bg: var($__buds--primary, $buds--primary) !default;
$buds--primary-bg-image: none !default;

$buds--primary-hover-border-color: var($__buds--primary-hover, $buds--primary-hover) !default;
$buds--primary-hover-color: $__buds--white !default;
$buds--primary-hover-bg: var($__buds--primary-hover, $buds--primary-hover) !default;
$buds--primary-hover-bg-image: var($__buds--primary-bg-image, $buds--primary-bg-image) !default;

$buds--primary-active-border-color: var($__buds--primary-active, $buds--primary-active) !default;
$buds--primary-active-color: $__buds--white !default;
$buds--primary-active-bg: var($__buds--primary-active, $buds--primary-active) !default;
$buds--primary-active-bg-image: var($__buds--primary-bg-image, $buds--primary-bg-image) !default;

$buds--primary-disabled-border-color: var($__buds--primary-border-color, $buds--primary-border-color) !default;
$buds--primary-disabled-color: var($__buds--primary-color, $buds--primary-color) !default;
$buds--primary-disabled-bg: var($__buds--primary-bg, $buds--primary-bg) !default;
$buds--primary-disabled-bg-image: var($__buds--primary-bg-image, $buds--primary-bg-image) !default;
$buds--primary-disabled-opacity: var($__buds--disabled-opacity, $buds--disabled-opacity) !default;

$buds--info-border-color: var($__buds--info, $buds--info) !default;
$buds--info-color: $__buds--white !default;
$buds--info-bg: var($__buds--info, $buds--info) !default;
$buds--info-bg-image: none !default;

$buds--info-hover-border-color: var($__buds--info-hover, $buds--info-hover) !default;
$buds--info-hover-color: $__buds--white !default;
$buds--info-hover-bg: var($__buds--info-hover, $buds--info-hover) !default;
$buds--info-hover-bg-image: var($__buds--info-bg-image, $buds--info-bg-image) !default;

$buds--info-active-border-color: var($__buds--info-active, $buds--info-active) !default;
$buds--info-active-color: $__buds--white !default;
$buds--info-active-bg: var($__buds--info-active, $buds--info-active) !default;
$buds--info-active-bg-image: var($__buds--info-bg-image, $buds--info-bg-image) !default;

$buds--info-disabled-border-color: var($__buds--info-border-color, $buds--info-border-color) !default;
$buds--info-disabled-color: var($__buds--info-color, $buds--info-color) !default;
$buds--info-disabled-bg: var($__buds--info-bg, $buds--info-bg) !default;
$buds--info-disabled-bg-image: var($__buds--info-bg-image, $buds--info-bg-image) !default;
$buds--info-disabled-opacity: var($__buds--disabled-opacity, $buds--disabled-opacity) !default;

$buds--success-border-color: var($__buds--success, $buds--success) !default;
$buds--success-color: $__buds--white !default;
$buds--success-bg: var($__buds--success, $buds--success) !default;
$buds--success-bg-image: none !default;

$buds--success-hover-border-color: var($__buds--success-hover, $buds--success-hover) !default;
$buds--success-hover-color: $__buds--white !default;
$buds--success-hover-bg: var($__buds--success-hover, $buds--success-hover) !default;
$buds--success-hover-bg-image: var($__buds--success-bg-image, $buds--success-bg-image) !default;

$buds--success-active-border-color: var($__buds--success-active, $buds--success-active) !default;
$buds--success-active-color: $__buds--white !default;
$buds--success-active-bg: var($__buds--success-active, $buds--success-active) !default;
$buds--success-active-bg-image: var($__buds--success-bg-image, $buds--success-bg-image) !default;

$buds--success-disabled-border-color: var($__buds--success-border-color, $buds--success-border-color) !default;
$buds--success-disabled-color: var($__buds--success-color, $buds--success-color) !default;
$buds--success-disabled-bg: var($__buds--success-bg, $buds--success-bg) !default;
$buds--success-disabled-bg-image: var($__buds--success-bg-image, $buds--success-bg-image) !default;
$buds--success-disabled-opacity: var($__buds--disabled-opacity, $buds--disabled-opacity) !default;

$buds--warning-border-color: var($__buds--warning, $buds--warning) !default;
$buds--warning-color: $__buds--white !default;
$buds--warning-bg: var($__buds--warning, $buds--warning) !default;
$buds--warning-bg-image: none !default;

$buds--warning-hover-border-color: var($__buds--warning-hover, $buds--warning-hover) !default;
$buds--warning-hover-color: $__buds--white !default;
$buds--warning-hover-bg: var($__buds--warning-hover, $buds--warning-hover) !default;
$buds--warning-hover-bg-image: var($__buds--warning-bg-image, $buds--warning-bg-image) !default;

$buds--warning-active-border-color: var($__buds--warning-active, $buds--warning-active) !default;
$buds--warning-active-color: $__buds--white !default;
$buds--warning-active-bg: var($__buds--warning-active, $buds--warning-active) !default;
$buds--warning-active-bg-image: var($__buds--warning-bg-image, $buds--warning-bg-image) !default;

$buds--warning-disabled-border-color: var($__buds--warning-border-color, $buds--warning-border-color) !default;
$buds--warning-disabled-color: var($__buds--warning-color, $buds--warning-color) !default;
$buds--warning-disabled-bg: var($__buds--warning-bg, $buds--warning-bg) !default;
$buds--warning-disabled-bg-image: var($__buds--warning-bg-image, $buds--warning-bg-image) !default;
$buds--warning-disabled-opacity: var($__buds--disabled-opacity, $buds--disabled-opacity) !default;

$buds--danger-border-color: var($__buds--danger, $buds--danger) !default;
$buds--danger-color: $__buds--white !default;
$buds--danger-bg: var($__buds--danger, $buds--danger) !default;
$buds--danger-bg-image: none !default;

$buds--danger-hover-border-color: var($__buds--danger-hover, $buds--danger-hover) !default;
$buds--danger-hover-color: $__buds--white !default;
$buds--danger-hover-bg: var($__buds--danger-hover, $buds--danger-hover) !default;
$buds--danger-hover-bg-image: var($__buds--danger-bg-image, $buds--danger-bg-image) !default;

$buds--danger-active-border-color: var($__buds--danger-active, $buds--danger-active) !default;
$buds--danger-active-color: $__buds--white !default;
$buds--danger-active-bg: var($__buds--danger-active, $buds--danger-active) !default;
$buds--danger-active-bg-image: var($__buds--danger-bg-image, $buds--danger-bg-image) !default;

$buds--danger-disabled-border-color: var($__buds--danger-border-color, $buds--danger-border-color) !default;
$buds--danger-disabled-color: var($__buds--danger-color, $buds--danger-color) !default;
$buds--danger-disabled-bg: var($__buds--danger-bg, $buds--danger-bg) !default;
$buds--danger-disabled-bg-image: var($__buds--danger-bg-image, $buds--danger-bg-image) !default;
$buds--danger-disabled-opacity: var($__buds--disabled-opacity, $buds--disabled-opacity) !default;
