.Figure {
  position: relative;
  margin: 0;
  text-align: center;
  background-color: $buds--figure-bg-color;

  @if whether-non-zero($buds--figure-border-radius) {
    &,
    > div {
      @include border-radius($buds--figure-border-radius);
    }
  }

  > div {
    @include aspect_ratio($buds--figure-aspect-ratio-width, $buds--figure-aspect-ratio-height);
  }

  a {
    @include text-middle("> img");
  }

  img {
    max-height: 100%;
  }

  figcaption {
    font-size: $buds--figure-caption-font-size;
    color: $buds--figure-caption-text-color;
    background-color: $buds--figure-caption-bg-color;
    @include stretch(auto);

    @if whether-non-zero($buds--figure-caption-vertical-padding) or whether-non-zero($buds--figure-caption-horizontal-padding) {
      @if $buds--figure-caption-vertical-padding == $buds--figure-caption-horizontal-padding {
        padding: $buds--figure-caption-vertical-padding;
      }
      @else {
        padding: $buds--figure-caption-vertical-padding $buds--figure-caption-horizontal-padding;
      }
    }

    @if whether-non-zero($buds--figure-border-radius) {
      @include border-radius(0 0 $buds--figure-border-radius $buds--figure-border-radius);
    }
  }
}
