$__buds--hover-bg: --buds-hover-bg;

$__buds--active-border-color: --buds-active-border-color;
$__buds--active-color: --buds-active-color;
$__buds--active-bg: --buds-active-bg;

$__buds--disabled-border-color: --buds-disabled-border-color;
$__buds--disabled-color: --buds-disabled-color;
$__buds--disabled-bg: --buds-disabled-bg;
$__buds--disabled-opacity: --buds-disabled-opacity;
