*:focus {
  outline: none;
}

body {
  font: {
    family: $buds--font-family;
    size: $buds--font-size;
    weight: $buds--font-weight;
  }
  line-height: $buds--line-height;
  color: $buds--text-regular;

  @if $buds--optimize-legibility == true {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

img {
  max-width: 100%;
}

label {
  cursor: pointer;
}
